<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="main-info">
            <h3>Welcome to developer's chat! <br> 
                Chat live with other developers. <br>
                Get help with any coding problems. <br>
                Network with a like-minded community. <br>
                Get involved and hear what others have to say!
            </h3>
            <a href="#/rooms">Start Chatting!</a>
        </div>
    </div>
</div>