 <div class="container-fluid" ng-controller="loginCtrl">
    <div class="container">
        <div class="col-xs-12 hidden-xs">
                <p class="text-success" ng-if="message">{{message}}</p>
                <p class="text-danger" ng-if="error">{{error}}</p>
        </div>
        <div class="row" id="login-wrap">
            <div class="col-sm-6 col-md-4 col-md-offset-2 login">
                <h2>User Log In</h2>
                <form ng-submit="logUser()">
                    <input type="email" name="email" ng-model="email" placeholder="email" required><br>
                    <input type="password" name="password" ng-model="password" placeholder="Password" required><br>
                    <input type="submit" value="Log In">
                </form>
                <p class="text-success visible-xs-block" ng-if="message">{{message}}</p>
                <p class="text-danger visible-xs-block" ng-if="error">{{error}}</p>
            </div>
                
            
            <div class="col-sm-6 col-md-4 login">
                <h2>Register</h2>
                <form ng-submit="createUser()">
                    <input type="email" placeholder="email" ng-model="newEmail" required><br>
                    <input type="text" name="usernew" placeholder="Username" ng-model="newUserName" required><br>
                    <input type="password" name="password" placeholder="Password" ng-model="newPassword" required><br>
                    <input type="password" name="passwordrepeat" placeholder="Repeat Password" ng-model="passRepeat" required><br>
                    <input type="submit" value="Create User">
                </form>
            </div>
        </div>          
    </div>
</div>