<div class="container" ng-controller="roomCtrl">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm" id="chat-rooms">
            <h2>Chat Rooms</h2>
            <hr>
            <ul>
                <li ng-repeat="room in rooms" 
                ng-class="{current: isActive(room)}">
                    <a href="" ng-click="setCurrent(room); reloadPage()">{{room}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8" id="room-title">
            <h1>{{currentRoom}}</h1>
        </div>
        
        <div class="col-md-8 center-block" id="chat-box">
            <div id="messages">
                <ul>
                    <li ng-repeat="message in messages">
                        <p><em>{{message.author}}:</em> {{message.text}}</p>
                        <span class="date">{{message.date | date:"HH:mm:ss"}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8" id="message-box">
            <a href="#login" ng-hide="authData"><p>Please log in to start chatting!</p></a>
            <form ng-show="authData" ng-submit="sendMessage()">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="message" placeholder="Say something!" ng-model="message">
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>