<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm" id="chat-rooms">
            <h2>Chat Rooms</h2>
            <hr>
            <li class="current"><a href="#">General</a></li>
            <li><a href="#">HTLM</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">Ruby</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">IOS</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">Design</a></li>
        </div>

        <div class="col-md-8" id="room-title">
            <h1>General</h1>
        </div>
        
        <div class="col-md-8 center-block" id="chat-box">
            <div id="messages">
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
               <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                 <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this is a text.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users. This is a longer text to test styles
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
                <li>
                    <p><em>author: </em>this would be where all the messages are sent and displayed by users.
                    </p>
                    <span class="date">date and time</span>
                </li>
            </div>
        </div>
        <div class="col-md-8" id="message-box">
            <form>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="message" placeholder="Say something!">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>