/*     GLOBAL STYLES 
**************************/
body, html{
	height: 100%;
}
.container{
	min-height: 100%;
}



/*     FOOTER  
**************************/
footer{
	max-height: 100%;
}




/*     MEDIA QUERIES 
**************************/